.author{
    margin-bottom: 120px;
    font-family: "Open sans", sans-serif;
    &__title{
        display: block;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        color: $color-main;
        border-bottom: 2px solid #333;
        padding-bottom: 10px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    &_desc{
        font-size: 18px;
        padding: 0 15px;
        margin-bottom: 40px;
        color: $gray;
        font-weight: 400;
    }
    &_container{
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 40px;
    }
    &_img{
        grid-column: 1/ span 2;
        & img{
            margin-bottom: 20px;
            border-radius: 25px;
            object-fit: cover;
        }
        & h3{
            text-align: center;
            font-size: 30px;
            font-weight: 500;
            color: $color-main;
            margin-bottom: 10px;
        }
        & p{
            text-align: center;
            font-size: 24px;
            color: $gray;
        }
    }
    &_content{
        grid-column: span 3;
    }
    &_item{
        margin-bottom: 20px;
    }
    &_info{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 20px;
        font-size: 30px;
        & img{
            width: 30px;
        }
        & i{
            color: $color-main;
        }
        & span{
            font-size: 30px;
            color: $color-main;
            font-weight: 600;
        }
    }
    &_des{
        font-size: 20px;
        font-weight: 400;
        color: $gray;
        border-left: 3px solid $color-main;
        padding-left: 15px;
        line-height: calc(30 / 20);
        letter-spacing: 1.2;
    }
}

@media screen and (max-width: 1200px) {
    .author{
        &_container{
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 767px) {
    .author{
        &__title{
            font-size: 26px;
        }
        &_info{
            & span {
                font-size: 26px;
            }
        }
        &_des{
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 500px) {
    .author{
        margin-bottom: 50px;
        &_img{
            & img{
                margin-bottom: 15px;
            }
            & h3{
                font-size: 26px;
            }
            & p{
                font-size: 21px;
            }
        }
        &_info{
            & span{
                font-size: 24px;
            }
        }
        &_des{
            font-size: 16px;
        }
    }
}