@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
.wrapper{
    max-width: 1920px;
}
.containers{
    max-width: 1350px;
    margin: 0 auto;
    padding: 0px 20px;
}
a:hover,
a:focus{
    color: $color-main;
    text-decoration: none;
}
.line{
    text-decoration: line-through;
    color: $gray;
    font-weight: 500;
}
@media screen and (max-width: 1200px){
    .containers{
        max-width: 800px;
    }
}
@media screen and (max-width: 1000px){
    .containers{
        max-width: 720px;
    }
}
@media screen and (max-width: 767px){
    .containers{
        max-width: 540px;
    }
}